.head1{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
}
.dom{
    font-weight: 900;
    font-size: 1.75rem;
    color: #fcbf1e;
}

.cart{
    color: #120136 !important;
    outline: none !important;
    text-decoration: none !important;
}

.cart :focus{
    outline: none !important;
}